/**
 * partials/footer
 * ---
 */


.footer {
	background: #f98f79;
	padding: 20px 10px;
	text-align: center;
	position: relative;
	>ul{
		margin: 0;
	}
	a{
		text-decoration: none;
		text-transform: uppercase;
		color: $white;
	}
	@include breakpoint($small-tab){
		padding: 50px 10px;
	}
}

.footer-logo{
	text-align: center;
	@include breakpoint($small-tab) {
    	display: inline-block;
    	width: 30%;
	}
	@include breakpoint($desktop){
		margin-right: 40px;
	}
	img{
		max-width: 300px;
		@include breakpoint($small-tab){
			max-width: 100%;
		}
		@include breakpoint($desktop){
			max-width: 300px;
		}
	}
}

.links{
	text-align: center;
	@include breakpoint($small-tab) {
    	display: inline-block;
    	width: 60%;
    	vertical-align: middle;
    }
    @include breakpoint($desktop){
    	width: auto;
    	text-align: left;
    }

    ul{
    	@include breakpoint(600px){
	   		display: inline-block;
	   		width: 49%;	
    	}
    	@include breakpoint($desktop){
			width: auto;
			margin: 0;
    	}
    }

    li{
    	margin: 5px 0;
    	@include breakpoint($desktop){
    		float: right;
			margin: 0px 9px;
    	}
    	@include breakpoint(1130px){
			margin: 0px 15px;
    	}
    }
	
}

.social_media_links{
	@extend .footer-nav;
	&:before{
		content:'';
		background:#56404d;
		height: 2px;
		width: 40%;
		display: block;
		margin: 10px auto;
		@include breakpoint($small-tab){
			display: none;
		}	
	}
	@include breakpoint($small-tab){
		border-left: 2px solid #56404d;
	}
}

.copyright{
	color:#58404e;
	text-align:center;
	margin: 10px auto;
	@include breakpoint($small-tab){
		position: absolute;
		left: 0;
		right: 0;
	}
	@include breakpoint($desktop){
		font-size: 12px;
		position: static;
		text-align: left;
		margin: 0 auto 10px 0;
	}
}