/**
 * partials/header
 * ---
 */


// Header container
.header {
	position: relative;
}

// Logo
.logo {
	position: absolute;
	left:10%;
	bottom: 40%;
	>a{
		display: block;
		height: 250px;
		width: 500px;
		background-size: contain;
		background-repeat: no-repeat;
	}
}

.logo-img {}

//banner
.banner{
	height: auto;
	padding: 25%;
	background-repeat: no-repeat;
	background-size: cover;
}
 