/**
 * partials/module
 * ---
 */

.post-thumbnail{
	display: block;
	margin: 20px 0;
	>img{
		width: 100%;
		margin-top: 20px;
	}
}

.post-article{
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 2px dotted #949494;
	@include container(100%);
}

.author{
	>a{
		font-weight: 600;
	}
}

.date{
	display: block;
	@include breakpoint($small-tab){
		display: none;
	}
}

.day{
	display: none;
	@include breakpoint($small-tab){
		display: block;
		margin: 0 auto;
		text-align: center;
		color: $white;
		font-size: 18px;
		font-weight: 600;
		@include circle(50px, $accent_purple);
	}
}

.month_year{
	display: none;
	text-transform: uppercase;
	color: $accent_purple;
	font-weight: 600;
	text-align: center;
	@include breakpoint($small-tab){
		display: block;
	}
}

.inner{
	padding: 0 5%;
	@include breakpoint($desktop){
		padding: 0 25%;
	}
}