/**
 * partials/nav
 * ---
 * Menus
 */


.nav {
	position: relative;
	@include clearfix();
}

.menu, .closenav {
	display: block;
	max-height: 0;
	overflow:hidden;
	transition: max-height 0.5ms ease;
	ul{
		list-style-type: none;
		text-align: center;
		padding: 0;
	}
	li{
		padding: 10px;
	}
	a{
		color: $white;
		text-transform: uppercase;
	}
}

.opennav{
	max-height: 300px;
	position: absolute;
	right: 0;
	top: 45px;
}

.sub-menu {}

.menu-item {}

.mob-menu, .mob-menu_active {
  background-color: rgba(#2a200e, 0.5);
  position: absolute;
  right: 0;
  z-index: 10;
  padding: 16px 15px;
  border: 0;
  outline: 0;
  .btn-bar{
    display: block;
    width: 28px;
    height: 3px;
    margin: 3px auto;
    background: rgba(#ffffff, 0.3);
	border-radius: 15%;
    position: relative;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.1s linear, opacity 0.9s linear, display 0.9s linear;
    -ms-transition: -ms-transform 0.1s linear, opacity 0.9s linear, display 0.9s linear;
    transition: transform 0.1s linear, opacity 0.9s linear, display 0.9s linear;
  }
  &:hover{
    border: 0;
    .btn-bar{
      background: rgba(#ffffff, 0.8);
    }
  }
}

.mob-menu_active{
  .btn-bar:first-of-type{
    display: none;
    opacity: 0;
  }
  .btn-bar:nth-of-type(2){
    height: 2px;
    background: #ffffff;//#c2c2c2
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top:3px;
  }
  .btn-bar:last-of-type{
    height: 2px;
    background: #ffffff;//#c2c2c2
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top:-2px;
  }
}

.footer-nav{
	text-align:center;
	list-style-type: none;
	padding: 0;
}

#menu-footer{
	>li:last-child{
		@include breakpoint($desktop){
			margin-left: 0px;
		}
	}
}


