/**
 * partials/wrapper
 * ---
 */


.wrapper {
  /* max-width: $wrapper-width;
  padding: 0 $margin-horizontal-large;
  margin: 0 auto;
  position: relative; */
}

.section-wrap{
	@include breakpoint($small-tab){
		position: relative;
	}
  
}

.posts-wrapper{
	border-top: 5px solid $accent;
	padding: 20px;
	background: $white;
	@include breakpoint($small-tab){
		position: absolute;
		top: -115px;
		left: 0;
		right: 0;
		width: 80%;
		margin: 0 auto;
		padding: 20px 30px;
	}
	@include breakpoint($desktop){
		padding: 20px 60px;
	}
}

.post_info-wrapper{
	display: inline-block;
	width: 100%;
	@include breakpoint($small-tab){
		width: 75%;
		@include span(10 of 12);
	}
	@include breakpoint($desktop){
		width: 100%;
		@include span(10.5 of 12);
	}
	>h2{
		margin: 0;
		line-height: 25px;
	}
}

.date-wrapper{
	display: inline-block;
	@include breakpoint($small-tab){
		vertical-align: top;
		@include span(2 of 12 last);
	}
	@include breakpoint($desktop){
		@include span(1.3 of 12 last);
	}
}
