/**
 * modules/mixins
 * ---
 */


@mixin reset-box {
  padding: 0;
  margin: 0;
}

@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin circle($size, $bg){
	background: $bg;
	width: $size;
	height: $size;
	border-radius: 50%;
	line-height: $size;
}