/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/* Breakpoint */
/* Susy */
/**
 * modules/mixins
 * ---
 */
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
/*
@font-face {
  font-family: "Font-Name";
  src: url("fonts/font-name.eot");
  src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"),
    url("fonts/font-name.woff") format("woff"),
    url("fonts/font-name.ttf") format("truetype"),
    url("fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
*/
/**
 * partials/reset
 * ---
 * Reset file
 * NOTE: also `normalize.css` is used
 */
*,
*:after,
*:before {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
  font-size: 140%;
  line-height: 1.5;
  color: #444;
  background-color: #fff; }

img {
  max-width: 100%;
  vertical-align: middle; }

a {
  color: #444;
  text-decoration: none; }
  a:focus, a:hover {
    text-decoration: none; }

input[type="text"],
input[type="search"] {
  font-size: inherit;
  line-height: inherit; }

::selection {
  background-color: #04A4CC;
  color: #fff;
  text-shadow: none; }

/**
 * partials/wordpress
 * ---
 * Wordpess core classes
 */
/**
 * Alignment
 */
.alignnone {
  margin: 5px 15px 15px 0; }

.aligncenter {
  display: block;
  margin: 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 15px 15px; }

.alignleft {
  float: left;
  margin: 5px 15px 15px 0; }

/**
 * Gallery & images
 */
.wp-caption {
  background: #fff;
  border: thin solid #F0F0F0;
  max-width: 95%;
  padding: 5px 5px;
  text-align: center; }
  .wp-caption img {
    width: auto;
    max-width: 98.5%;
    height: auto;
    border: 0 none;
    padding: 0;
    margin: 0; }

.wp-caption .wp-caption-text,
.gallery-caption {
  margin: 0;
  padding: 0 5px 5px;
  font-size: 140%;
  line-height: 1.5; }

/**
 * partials/utils
 * ---
 * Utils classes
 */
.clear:before, .clear:after {
  content: " ";
  display: table; }

.clear:after {
  clear: both; }

.reset-box {
  padding: 0;
  margin: 0; }

/**
 * partials/module
 * ---
 */
.post-thumbnail {
  display: block;
  margin: 20px 0; }
  .post-thumbnail > img {
    width: 100%;
    margin-top: 20px; }

.post-article {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px dotted #949494;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .post-article:after {
    content: " ";
    display: block;
    clear: both; }

.author > a {
  font-weight: 600; }

.date {
  display: block; }
  @media (min-width: 600px) {
    .date {
      display: none; } }

.day {
  display: none; }
  @media (min-width: 600px) {
    .day {
      display: block;
      margin: 0 auto;
      text-align: center;
      color: #fff;
      font-size: 18px;
      font-weight: 600;
      background: #5f5d75;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      line-height: 50px; } }

.month_year {
  display: none;
  text-transform: uppercase;
  color: #5f5d75;
  font-weight: 600;
  text-align: center; }
  @media (min-width: 600px) {
    .month_year {
      display: block; } }

.inner {
  padding: 0 5%; }
  @media (min-width: 1024px) {
    .inner {
      padding: 0 25%; } }

/**
 * partials/wrapper
 * ---
 */
.wrapper {
  /* max-width: $wrapper-width;
  padding: 0 $margin-horizontal-large;
  margin: 0 auto;
  position: relative; */ }

@media (min-width: 600px) {
  .section-wrap {
    position: relative; } }

.posts-wrapper {
  border-top: 5px solid #f98f79;
  padding: 20px;
  background: #fff; }
  @media (min-width: 600px) {
    .posts-wrapper {
      position: absolute;
      top: -115px;
      left: 0;
      right: 0;
      width: 80%;
      margin: 0 auto;
      padding: 20px 30px; } }
  @media (min-width: 1024px) {
    .posts-wrapper {
      padding: 20px 60px; } }

.post_info-wrapper {
  display: inline-block;
  width: 100%; }
  @media (min-width: 600px) {
    .post_info-wrapper {
      width: 75%;
      width: 83.05085%;
      float: left;
      margin-right: 1.69492%; } }
  @media (min-width: 1024px) {
    .post_info-wrapper {
      width: 100%;
      width: 87.28814%;
      float: left;
      margin-right: 1.69492%; } }
  .post_info-wrapper > h2 {
    margin: 0;
    line-height: 25px; }

.date-wrapper {
  display: inline-block; }
  @media (min-width: 600px) {
    .date-wrapper {
      vertical-align: top;
      width: 15.25424%;
      float: right;
      margin-right: 0; } }
  @media (min-width: 1024px) {
    .date-wrapper {
      width: 9.32203%;
      float: right;
      margin-right: 0; } }

/**
 * partials/header
 * ---
 */
.header {
  position: relative; }

.logo {
  position: absolute;
  left: 10%;
  bottom: 40%; }
  .logo > a {
    display: block;
    height: 250px;
    width: 500px;
    background-size: contain;
    background-repeat: no-repeat; }

.banner {
  height: auto;
  padding: 25%;
  background-repeat: no-repeat;
  background-size: cover; }

/**
 * partials/nav
 * ---
 * Menus
 */
.nav {
  position: relative; }
  .nav:after {
    content: "";
    display: table;
    clear: both; }

.menu, .closenav {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5ms ease; }
  .menu ul, .closenav ul {
    list-style-type: none;
    text-align: center;
    padding: 0; }
  .menu li, .closenav li {
    padding: 10px; }
  .menu a, .closenav a {
    color: #fff;
    text-transform: uppercase; }

.opennav {
  max-height: 300px;
  position: absolute;
  right: 0;
  top: 45px; }

.mob-menu, .mob-menu_active {
  background-color: rgba(42, 32, 14, 0.5);
  position: absolute;
  right: 0;
  z-index: 10;
  padding: 16px 15px;
  border: 0;
  outline: 0; }
  .mob-menu .btn-bar, .mob-menu_active .btn-bar {
    display: block;
    width: 28px;
    height: 3px;
    margin: 3px auto;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 15%;
    position: relative;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.1s linear, opacity 0.9s linear, display 0.9s linear;
    -ms-transition: -ms-transform 0.1s linear, opacity 0.9s linear, display 0.9s linear;
    transition: transform 0.1s linear, opacity 0.9s linear, display 0.9s linear; }
  .mob-menu:hover, .mob-menu_active:hover {
    border: 0; }
    .mob-menu:hover .btn-bar, .mob-menu_active:hover .btn-bar {
      background: rgba(255, 255, 255, 0.8); }

.mob-menu_active .btn-bar:first-of-type {
  display: none;
  opacity: 0; }

.mob-menu_active .btn-bar:nth-of-type(2) {
  height: 2px;
  background: #ffffff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 3px; }

.mob-menu_active .btn-bar:last-of-type {
  height: 2px;
  background: #ffffff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -2px; }

.footer-nav, .social_media_links {
  text-align: center;
  list-style-type: none;
  padding: 0; }

@media (min-width: 1024px) {
  #menu-footer > li:last-child {
    margin-left: 0px; } }

/**
 * partials/sidebar
 * ---
 */
/**
 * partials/footer
 * ---
 */
.footer {
  background: #f98f79;
  padding: 20px 10px;
  text-align: center;
  position: relative; }
  .footer > ul {
    margin: 0; }
  .footer a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff; }
  @media (min-width: 600px) {
    .footer {
      padding: 50px 10px; } }

.footer-logo {
  text-align: center; }
  @media (min-width: 600px) {
    .footer-logo {
      display: inline-block;
      width: 30%; } }
  @media (min-width: 1024px) {
    .footer-logo {
      margin-right: 40px; } }
  .footer-logo img {
    max-width: 300px; }
    @media (min-width: 600px) {
      .footer-logo img {
        max-width: 100%; } }
    @media (min-width: 1024px) {
      .footer-logo img {
        max-width: 300px; } }

.links {
  text-align: center; }
  @media (min-width: 600px) {
    .links {
      display: inline-block;
      width: 60%;
      vertical-align: middle; } }
  @media (min-width: 1024px) {
    .links {
      width: auto;
      text-align: left; } }
  @media (min-width: 600px) {
    .links ul {
      display: inline-block;
      width: 49%; } }
  @media (min-width: 1024px) {
    .links ul {
      width: auto;
      margin: 0; } }
  .links li {
    margin: 5px 0; }
    @media (min-width: 1024px) {
      .links li {
        float: right;
        margin: 0px 9px; } }
    @media (min-width: 1130px) {
      .links li {
        margin: 0px 15px; } }

.social_media_links:before {
  content: '';
  background: #56404d;
  height: 2px;
  width: 40%;
  display: block;
  margin: 10px auto; }
  @media (min-width: 600px) {
    .social_media_links:before {
      display: none; } }

@media (min-width: 600px) {
  .social_media_links {
    border-left: 2px solid #56404d; } }

.copyright {
  color: #58404e;
  text-align: center;
  margin: 10px auto; }
  @media (min-width: 600px) {
    .copyright {
      position: absolute;
      left: 0;
      right: 0; } }
  @media (min-width: 1024px) {
    .copyright {
      font-size: 12px;
      position: static;
      text-align: left;
      margin: 0 auto 10px 0; } }

/**
 * partials/print
 * ---
 * Print version
 * (from https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css)
 */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=style.css.map */
